local.properties
build
**/.idea
.gradle/
**/gradle/**
*.iml
greendao_java
mylibrary
.externalNativeBuild
/.externalNativeBuild
qlink.jks

/app/src/main/java/com/stratagile/qlink/constant/MainConstant.java
app/noovpn3/release/
