<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stratagile.qlink">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <permission android:name="com.stratagile.qwallet.permission.MIPUSH_RECEIVE" android:protectionLevel="signature" />
    <uses-permission android:name="com.stratagile.qwallet.permission.MIPUSH_RECEIVE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".application.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:appCategory="productivity"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:allowBackup"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme.Base"
        android:banner="@mipmap/ic_launcher">
        <activity android:name=".ui.activity.main.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait"
            android:configChanges="locale"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!--协议部分，随便设置-->
                <data android:scheme="xl" android:host="winq" android:path="/openWinq" android:port="8888"/>
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <service android:name=".service.ClientVpnService"/>
        <activity android:name=".ui.activity.main.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden"
            tools:ignore="ExportedActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.wallet.WalletDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.NoWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.neo.WalletCreatedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.FreeConnectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.main.GuestActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.CreateWalletPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.VerifyWalletPasswordActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <!--android:windowSoftInputMode="stateVisible|adjustResize"-->
        <activity android:name=".ui.activity.wallet.ProfilePictureActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.TransactionRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.ImportWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.QrCodeDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.ScanQrCodeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.ChangeWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.wallet.GratuityActivity"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.main.LogActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.main.WebViewActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.eth.EthWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.eth.BnbToQlcActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.eth.ImportEthWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.im.ConversationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:screenOrientation="portrait"
            />

        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="com.stratagile.qwallet.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <provider
            android:name="com.stratagile.qlink.FileProvider"
            android:authorities="com.stratagile.qwallet.FileProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />

        <activity android:name=".ui.activity.file.FileChooseActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.setting.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.setting.SelectLanguageActivityActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.rank.RuleActivity" />
        <activity android:name=".ui.activity.wallet.SelectWalletTypeActivity" />
        <activity android:name=".ui.activity.eth.EthWalletCreatedActivity" />
        <activity android:name=".ui.activity.eth.EthMnemonicbackupActivity" />
        <activity android:name=".ui.activity.eth.EthMnemonicShowActivity" />
        <activity android:name=".ui.activity.wallet.AllWalletTokenActivity" />
        <activity android:name=".ui.activity.eth.WalletDetailActivity" />
        <activity android:name=".ui.activity.setting.CurrencyUnitActivity" />
        <activity android:name=".ui.activity.wallet.EthTransactionRecordActivity" />
        <activity android:name=".ui.activity.wallet.WalletQRCodeActivity" />
        <activity android:name=".ui.activity.eth.EthTransferActivity" />
        <activity android:name=".ui.activity.neo.NeoWalletInfoActivity" />
        <activity android:name=".ui.activity.wallet.ChooseWalletActivity" />
        <activity android:name=".ui.activity.wallet.ExportEthKeyStoreActivity" />
        <activity android:name=".ui.activity.neo.NeoTransferActivity" />
        <activity android:name=".ui.activity.wallet.ChangePasswordActivity" />
        <activity android:name=".ui.activity.eos.EosImportActivity" />
        <activity android:name=".ui.activity.eos.EosTransferActivity" />
        <activity android:name=".ui.activity.otc.AddTokenActivity" />
        <activity android:name=".ui.activity.eos.EosResourceManagementActivity" />

        <activity android:name=".ui.activity.eos.EosBuyCpuAndNetActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.eos.EosBuyRamActivity" />
        <activity android:name=".ui.activity.eos.EosCreateActivity" />
        <activity android:name=".ui.activity.eos.EosActivationActivity" />
        <activity android:name=".ui.activity.main.TestActivity" />
        <activity android:name=".ui.activity.my.AccountActivity" />
        <activity android:name=".ui.activity.my.RetrievePasswordActivity" />
        <activity android:name=".ui.activity.my.SelectCountryActivity" />
        <activity android:name=".ui.activity.finance.ProductDetailActivity" />
        <activity android:name=".ui.activity.finance.MyProductActivity" />
        <activity android:name=".ui.activity.my.PersonActivity" />
        <activity android:name=".ui.activity.my.LoginActivity" />
        <activity android:name=".ui.activity.my.RegisgerActivity" />
        <activity android:name=".ui.activity.finance.InviteActivity" />
        <activity android:name=".ui.activity.finance.MyRankingActivity" />
        <activity android:name=".ui.activity.finance.EarnRankActivity" />
        <activity android:name=".ui.activity.finance.HistoryRecordActivity" />
        <activity android:name=".ui.activity.finance.JoinCommunityActivity" />
        <activity android:name=".ui.activity.my.ForgetPasswordActivity" />
        <activity android:name=".ui.activity.main.EditInputActivity" />
        <activity android:name=".ui.activity.finance.InviteNowActivity" />
        <activity android:name=".ui.activity.qlc.QlcTestActivity" />
        <activity android:name=".ui.activity.qlc.QlcWalletCreatedActivity" />
        <activity android:name=".ui.activity.qlc.BackupQlcWalletActivity" />
        <activity android:name=".ui.activity.qlc.QlcTransferActivity" />
        <activity android:name=".ui.activity.qlc.ImportQlcActivity" />
        <activity android:name=".ui.activity.qlc.QlcMnemonicShowActivity" />
        <activity android:name=".ui.activity.qlc.QlcMnemonicbackupActivity" />
        <activity android:name=".ui.activity.my.VerificationActivity" />
        <activity android:name=".ui.activity.otc.NewOrderActivity" />
        <activity android:name=".ui.activity.otc.BuyQgasActivity" />
        <activity android:name=".ui.activity.otc.SellQgasActivity" />
        <activity android:name=".ui.activity.otc.OrderDetailActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
        <meta-data android:name="android.max_aspect"
            android:value="2.5"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service android:enabled="true" android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>

        <service android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />

        <service android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />

        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />

        <receiver android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:exported="false" android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver
            android:exported="true"
            android:name="com.stratagile.qlink.reciver.WinqMessageReceiver">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


    </application>

</manifest>